body {
  font-family: 'Nelvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
}
#map {
  border: 1px solid #000;
  height: 600px;
}
.leaflet-marker-icon {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}